################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XamarinAndroidEntry/XamarinAndroidEntry/bin/Debug/netstandard2.0
/XamarinAndroidEntry/XamarinAndroidEntry/obj
/XamarinAndroidEntry/XamarinAndroidEntry.Android/bin/Debug
/XamarinAndroidEntry/XamarinAndroidEntry.Android/obj
